

.login-container{
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  margin: auto;
}

.login-form{
  border-radius: 10px;
  background: #488cff;
  width: 470px;
  height: 500px;
  box-shadow: 15px 2px 4px #cecece;
  margin: 100px auto;
  vertical-align: center;
  padding: 20px;
  font-size: large;
  color: white;
}
