<!DOCTYPE html>
<html>
<head>

</head>
<body>
<h1>Texte</h1>
<p>Un texte est une série orale ou écrite de mots perçus comme constituant un ensemble cohérent, porteur de sens et utilisant les structures propres à une langue (conjugaisons, construction et association des phrases…)1. Un texte n'a pas de longueur déterminée sauf dans le cas de poèmes à forme fixe comme le sonnet ou le haïku.

  L'étude formelle des textes s'appuie sur la linguistique, qui est l'approche scientifique du langage. </p>
<h1>Codage</h1>
<p>Le substantif encodage et le verbe encoder sont attestés en informatique depuis 1969 dans le sens de saisir et traduire en code simultanément1 et utilisés comme antonymes de décodage ou décoder. Les termes de codage et coder peuvent aussi être utilisé.

  Un codage des caractères définit une manière de représenter les caractères (lettres, chiffres, symboles) dans un système informatique.
  Un encodage sémantique est un procédé de transformation d'un langage formel (typiquement, un langage de programmation ou de description ou un langage mathématique) en un autre langage formel.
  En psychologie cognitive de la mémoire, le codage est le processus par lequel une information est mise en mémoire.
  En psychologie et en neurosciences de la perception, le codage perceptif désigne la façon dont une stimulation perçue va être transformée en message nerveux pour donner lieu à une représentation mentale.
  Encodage one-hot
  Le codage de source, qui permet de faire de la compression de données.
  le codage de canal, qui permet une représentation des données de façon à être résistant aux erreurs de transmission.
  Le codage visuel, qui permet une représentation des données en schémas 2D : code-barre ou QR-Code par exemple.

  On utilisera le terme chiffrement quand le codage utilisé cherche à masquer l'information contenue ; le terme "cryptage", bien que fréquemment utilisé, n'a pas de légitimité en langue française. </p>
</body>
</html>

